@keyframes menuEntrance {
    0% {
        transform: translateY(-100%);
    }
    
    80% {
        transform: translateY(5%);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes menuExit {
    0% {
        transform: translateY(0);
    }
    
    20% {
        transform: translateY(5%);
    }
    
    100% {
        transform: translateY(-100%);
    }
}

@keyframes powerBarEnter {
    from {
        height: 0;
        font-size: 0;
        opacity: 0;
    }
    
    to {
        height: 45px;
        font-size: auto;
        opacity: 1;
    }
}

@keyframes powerBarExit {
    from {
        height: 45px;
        font-size: auto;
        opacity: 1;
    }
    
    to {
        height: 0;
        font-size: 0;
        opacity: 0;
    }
}

@keyframes waveIntro {
    0% {
        height: 0;
        top: 300px;
        font-size: 0;
        opacity: 0;
    }

    10% {
        height: 120px;
        top: 240px;
        font-size: 1em;
        opacity: 1;
    }

    90% {
        height: 120px;
        top: 240px;
        font-size: 1em;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 300px;
        font-size: 0;
        opacity: 0;
    }
}